table {
	width: 100%;
	border-collapse: collapse;
}


/*name col*/
th  {
	width: 40%;
}
/*modified col*/
th + th  {

}
/*size col*/
th + th + th  {
	width: 5%;
}

tr {
	outline:0;
	border:0;
	padding: 0.5em 5em 0.8em;
}
tr:hover td {
	background:#eee;
}
tr td:first-of-type {
	padding-left:10px;
	padding-right:10px;
}
td {
	padding:5px 0;
	outline:0;
	border:0;
	border-bottom:1px solid #edf1f5;
	vertical-align:middle;
	text-align:left;
	-webkit-transition:background 300ms ease;
	-moz-transition:background 300ms ease;
	-ms-transition:background 300ms ease;
	-o-transition:background 300ms ease;
	transition:background 300ms ease;
}
td a {
	display: block;
	width: 100%;
}
